PORT=3000
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=tu_password
DB_NAME=telemedicina


# Agrega abajo tus credenciales de base de datos PostgreSQL, JWT secret, etc.
# DB_USER=
# DB_PASSWORD=
# DB_NAME=telemedicina
# DB_HOST=localhost
# DB_PORT=5432
JWT_SECRET=tu_secreto_super_seguro
